fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
bcrypt
python-dotenv
mysql-connector-python
joblib
scikit-learn==1.5.2
reportlab
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
email-validator
cloudinary
pandas
numpy<2.0.0
setuptools<70.0.0
xgboost
cryptography
pillow
pytesseract
rapidfuzz
